.relatedVideos {
  display: flex;
  margin-bottom: 10px;
  max-width: 100%;
}
.relatedVideos__thumbnail {
  display: inline-block;
  object-fit: contain;
  width: 40%;
}

.relatedVideos__text {
  width: 60%;
  display: inline-block;
  font-size: 13px;
}

.relatedVideos__headline {
  font-size: 11px;
  color: #606060;
}
