.subscriptions {
  width: 80%;
  background: #f9f9f9;
  padding: 40px 20px 0 20px;
  min-height: 100%;
}

.subscriptions > h2 {
  margin: 20px 0 20px 5px;
}

.subscriptions__videos {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 3rem;
}
