.relatedVideos {
    display: flex;
    margin-bottom: 10px;
    max-width: 300px;
    margin-left: auto;
  }
  .relatedVideos > img {
    object-fit: contain;
  }
  
  .relatedVideos__text {
    margin-left: 5px;
    display: inline-flex;
    font-size: 10px;
  }
  
  .relatedVideos__headline {
    font-size: 12px;
    color: #606060;
  }
  